<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inventory Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IntegratedInventoryAndOrderManagementSystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

@{
    bool IsCurrentRoute(string controller, string action = "Index")
    {
        var currentController = ViewContext.RouteData.Values["controller"] as string;
        var currentAction = ViewContext.RouteData.Values["action"] as string;
        return string.Equals(currentController, controller, StringComparison.OrdinalIgnoreCase) &&
        string.Equals(currentAction, action, StringComparison.OrdinalIgnoreCase);
    }
}

<body>
    <div class="dashboard-container">
        <!-- Sidebar -->
        <nav id="sidebar" class="sidebar">
            <div class="sidebar-header">
                <h3>Inventory System</h3>
            </div>
            <ul class="list-unstyled components">
                @if (User.IsInRole("Admin") )
                {
                    <li class="@(IsCurrentRoute("Home") ? "active" : "")">
                        <a class="d-flex align-items-center py-2" asp-controller="Home" asp-action="Index">
                            <i class="fas fa-home me-2"></i> Dashboard
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Stock") || User.IsInRole("OrderProcessing"))
                {
                    <li class="@(IsCurrentRoute("Product") ? "active" : "")">
                        <a class="d-flex align-items-center py-2" asp-controller="Product" asp-action="Index">
                            <i class="fas fa-box me-2"></i> Products
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Sales"))
                {
                    <li class="@(IsCurrentRoute("SalesOrder") ? "active" : "")">
                        <a class="d-flex align-items-center py-2" asp-controller="SalesOrder" asp-action="Index">
                            <i class="fas fa-shopping-cart me-2"></i> Sales Orders
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Accounts"))
                {
                    <li class="@(IsCurrentRoute("SalesOrder") ? "active" : "")">
                        <a class="d-flex align-items-center py-2" asp-controller="Invoice" asp-action="Index">
                            <i class="fas fa-shopping-cart me-2"></i> Invoices
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Shipping"))
                {
                    <li class="@(IsCurrentRoute("Shipment") ? "active" : "")">
                        <a class="d-flex align-items-center py-2" asp-controller="Shipment" asp-action="Index">
                            <i class="fas fa-truck me-2"></i> Shipments
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Stock") || User.IsInRole("Sales") )
                {
                    <li class="@(IsCurrentRoute("Inventory") ? "active" : "")">
                        <a class="d-flex align-items-center py-2" asp-controller="Inventory" asp-action="Index">
                            <i class="fas fa-warehouse me-2"></i> Inventory
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Stock"))
                {
                    <li>
                        <a class="d-flex align-items-center py-2" asp-controller="InventoryAdjustment" asp-action="Index">
                            <i class="fas fa-warehouse me-2"></i> Inventory Adjustment
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Receiving"))
                {
                    <li>
                        <a class="d-flex align-items-center py-2" asp-controller="Recieving" asp-action="Index">
                            <i class="fas fa-user me-2"></i> New Recieving
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") )
                {
                    <li class="@(IsCurrentRoute("Customer") ? "active" : "")">
                        <a class="d-flex align-items-center py-2" asp-controller="Customer" asp-action="Index">
                            <i class="fas fa-user me-2"></i> Customer
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") ||  User.IsInRole("OrderProcessing"))
                {
                    <li class="@(IsCurrentRoute("Vendor") ? "active" : "")">
                        <a class="d-flex align-items-center py-2" asp-controller="Vendor" asp-action="Index">
                            <i class="fas fa-truck me-2"></i> Vendor
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Stock")  )
                {
                    <li class="@(IsCurrentRoute("Location") ? "active" : "")">
                        <a class="d-flex align-items-center py-2" asp-controller="Location" asp-action="Index">
                            <i class="fas fa-map-marker-alt me-2"></i> Location
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("OrderProcessing"))
                {
                    <li class="@(IsCurrentRoute("PurchaseOrder") ? "active" : "")">
                        <a class="d-flex align-items-center py-2" asp-controller="PurchaseOrder" asp-action="Index">
                            <i class="fas fa-shopping-cart me-2"></i> Purchase Order
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("OrderProcessing") )
                {
                    <li class="@(IsCurrentRoute("Status") ? "active" : "")">
                        <a class="d-flex align-items-center py-2" asp-controller="Status" asp-action="Index">
                            <i class="fas fa-info-circle me-2"></i> Status
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("ReportManager"))
                {
                    <li class="@(IsCurrentRoute("Report") ? "active" : "")">
                        <a class="d-flex align-items-center py-2" asp-controller="Report" asp-action="Index">
                            <i class="fas fa-chart-bar me-2"></i> Reports
                        </a>
                    </li>
                }
            </ul>
        </nav>

        <!-- Page Content -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info toggle-btn">
                        <i class="fas fa-warehouse fa-fw"></i>
                        <span>Inventory Menu</span>
                    </button>

                    <div class="ml-auto">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>

            <main role="main" class="p-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container w-100 text-center">
            Developed by | Faith Munkonko | Future Mulenga | Chota Mulenga | Joseph | Charles Chisale | Glasses Ohn |
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>
