@model IntegratedInventoryAndOrderManagementSystem.Models.SalesOrder

<h2>Sales Order Details</h2>

<div>
    <h4>Order #@Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.PhoneNumber)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Address)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.OrderDate)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.OrderDate)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Status)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Status.Name)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.TotalCost)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.TotalCost)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ShipDate)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ShipDate)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.TrackingNumber)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.TrackingNumber)</dd>
    </dl>
</div>

<h4>Order Items</h4>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SalesOrderItems)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>
                <td>@item.SellingPrice.ToString("C")</td>
                <td>@((item.Quantity * item.SellingPrice).ToString("C"))</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>