@model SalesOrder

@{
    ViewData["Title"] = "Sales Order Details";
}

<h2>Sales Order Details</h2>

<div>
    <h4>SalesOrder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Order Date
        </dt>
        <dd class="col-sm-10">
            @Model.OrderDate
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Model.Status.Name
        </dd>
        <dt class="col-sm-2">
            Total Cost
        </dt>
        <dd class="col-sm-10">
            @Model.TotalCost
        </dd>
        <dt class="col-sm-2">
            Paid
        </dt>
        <dd class="col-sm-10">
            @Model.isPaid
        </dd>
    </dl>
</div>

<h4>Items</h4>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Selling Price</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.SalesOrderItems)
    {
        <tr>
            <td>@item.Product.Name</td>
            <td>@item.Quantity</td>
            <td>@item.SellingPrice</td>
            <td>@(item.Quantity * item.SellingPrice)</td>
        </tr>
    }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
