@model Product

@{
    ViewData["Title"] = "Product Details";
}

<h2>Product Details</h2>

<div>
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.SKU)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.SKU)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Cost)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Cost)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Price)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Price)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Quantity)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Quantity)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.LastRestockDate)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.LastRestockDate)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ReorderThreshold)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ReorderThreshold)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.location)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.location.Name)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>