@model IntegratedInventoryAndOrderManagementSystem.Models.Shipment

@{
    ViewData["Title"] = "Shipment Details";
}

<h1>Shipment Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.SalesOrderId)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.SalesOrderId)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ShippingDate)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ShippingDate)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.TrackingNumber)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.TrackingNumber)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ShippingCarrier)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ShippingCarrier)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ShippingCost)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ShippingCost)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Status.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Status.Name)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>